<form [formGroup]="formulario" novalidate>
  <div class="row">
    <app-input-label id="item1" legenda="Nome" [valor]="formulario.value?.nome"></app-input-label>
    <app-input-label id="item2" legenda="Descrição" [valor]="formulario.value?.descricao"></app-input-label>
    <app-input-label id="item1" legenda="Número Máximo de Jogadores" [valor]="formulario.value?.numMaxJogador"></app-input-label>
    <app-input-label id="item2" legenda="Número Minímo de Jogadores" [valor]="formulario.value?.numMinJogador"></app-input-label>
  </div>
</form>