<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <app-menu-login-header></app-menu-login-header>
            <hr />
            <ngb-alert [type]="alerta.type" (close)="fecharAlerta(alerta)" *ngFor="let alerta of alertas">{{
                alerta.message }}</ngb-alert>
            <hr />
            <form role="form" [formGroup]="formulario" novalidate>
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" name="matricula" formControlName="matricula"
                            placeholder="Matrícula" (keydown.enter)="onLoggedin()">
                        <app-validator [field]="formulario.controls.matricula"></app-validator>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" name="senha" formControlName="senha"
                            placeholder="Senha" (keydown.enter)="onLoggedin()">
                        <app-validator [field]="formulario.controls.senha"></app-validator>
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="onLoggedin()"> Entrar </a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/cadastrar']">Registrar</a>
            </form>
        </div>
    </div>
</div>