<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
  <div class="list-group">
    <app-menu-lateral [usuario]="user" [lista]="lista"></app-menu-lateral>
    <div class="header-fields">
      <a href="javascript:void(0)" class="nav-link mt-1" style="padding: 0.375rem 1rem !important; border-color: #999;"
        (click)="rltAndLtr()">
        {{'Direita/Esquerda' | translate}}
      </a>
      <app-li-drop-down-menu [lista]="listaIdioma" [isTag]="tagIdioma" [isTask]="idioma" [value]="nameFieldIdioma"
        (emitLang)="changeLang($event)"></app-li-drop-down-menu>
      <a class="nav-link" href="javascript:void(0)">
        <i class="fa fa-user"></i> {{user?.name}} <b class="caret"></b>
      </a>
      <a class="nav-link" [routerLink]="['/login']" (click)="onLoggedout()">
        <i class="fa fa-fw fa-power-off"></i> {{ 'Sair' | translate }}
      </a>
    </div>
  </div>
</nav>