<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-4">
        <app-menu-login-header></app-menu-login-header>
        <p>
            <a class="btn rounded-btn" [routerLink]="['/aluno']"> Registrar Aluno </a>&nbsp;
        </p> 
        <p>
            <a class="btn rounded-btn" [routerLink]="['/servidor']"> Registrar Servidor </a>&nbsp;
        </p>
            <a class="btn rounded-btn" [routerLink]="['/login']"> Entrar </a>
        </div>
    </div>
</div>
