<div [@routerTransition]>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders; index as i">
                    <img [id]="i" class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide"
                        width="100%" style="height: 400px;" />
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>
                            <a href="{{slider.html}}" class="carrousell">{{slider.text}}</a>
                        </p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>