<div class="container">
    <form [formGroup]="formulario" novalidate>
        <fieldset formGroupName="instituicao">
            <div class="form-group">
                <input type="text" class="form-control " formControlName="nome" placeholder="Nome">
                <app-validator [field]="formulario.get('instituicao.nome')"></app-validator>
            </div>
            <div class="form-group">
                <input type="text" class="form-control " formControlName="descricao" placeholder="Descrição">
                <app-validator [field]="formulario.get('instituicao.descricao')"></app-validator>
            </div>
        </fieldset>

        <fieldset formGroupName="endereco">
            <legend>Endereço</legend>
            <div class="ui-md-12">
                <app-layout-endereco [estadosLista]="estadosLista" [municipioLista]="municipioLista" [formulario]="formulario.controls.endereco"
                    [acao]="acao"></app-layout-endereco>
            </div>
        </fieldset>
    </form>
</div>