<div class="row">
  <div class="col-12 col-md-12 col-lg-12">
    <div class="card mb-3">
      <div class="card-header">
        {{legenda}}
      </div>
      <div class="card-body table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th *ngFor="let nome of listaNomeCampo">{{nome.nomeColuna}}</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let valor of listaValorCampo; let nome = listaNomeCampo; index as i">
              <td *ngFor="let nome of listaNomeCampo">{{valor[nome.nomeValorColuna]}}</td>
              <td>
                <div style="align-items: center;">
                  <a *ngIf="!desabilitarEdicao" href="javascript:void(0)" class="in col-1" (click)="AcaoGrid($event, valor, i)"
                    ngbTooltip="Editar" id="editar">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a *ngIf="!desabilitarVisualizacao" href="javascript:void(0)" class="in col-1" (click)="AcaoGrid($event, valor, i)"
                    ngbTooltip="Visualizar" id="visualizar">
                    <i class="fa fa-eye"></i>
                  </a>
                  <a *ngIf="!desabilitarDelecao" href="javascript:void(0)" class="in col-1" (click)="AcaoGrid($event, valor, i)"
                    ngbTooltip="Deletar" id="deletar">
                    <i class="fa fa-remove"></i>
                  </a>
                </div>
              </td>
            </tr>
            <tr *ngIf="listaValorCampo.length == 0">
              <td>Nenhum registro encontrado!</td>
            </tr>
          </tbody>
        </table>
        <ngb-pagination [collectionSize]="pageConfig.totalElements" [(page)]="pageConfig.page" [maxSize]="pageConfig.size"
          [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="AtualizarLista($event)"></ngb-pagination>
      </div>
    </div>
  </div>
</div>
<ngb-alert [type]="alerta.type" (close)="fecharAlerta(alerta)" *ngFor="let alerta of alertas">{{
  alerta.message }}</ngb-alert>
<hr />
