<!-- <div class="row">
  <div class="col col-xl-12 col-lg-12">
    <div class="card mb-3">
      <div class="card-header">
        Basic example
      </div>
      <div class="card-body table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> -->


<div class="row">
  <div class="col col-xl-12 col-lg-12">
    <div class="card mb-3">
      <div class="card-header">
        {{legenda}}
      </div>
      <div class="card-body table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th *ngFor="let nome of listaNomeCampo">{{nome.nomeColuna}}</th>
              <td>Ação</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let valor of listaValorCampo; let nome = listaNomeCampo;">
              <td *ngFor="let nome of listaNomeCampo">{{valor[nome.nomeValorColuna]}}</td>
              <td>
                <a href="javascript:void(0)" class="nav-link">
                  <i class="fa fa-remove"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>