<div class="row">
  <div class="col col-xl-12 col-lg-12">
    <div class="card mb-3">
      <div class="card-header">
        {{legenda}}
      </div>
      <div class="card-body table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th *ngFor="let nome of listaNomeCampo">{{nome.nomeColuna}}</th>
              <td >Ação</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let valor of listaValorCampo; let nome = listaNomeCampo;">
              <td *ngFor="let nome of listaNomeCampo">{{valor[nome.nomeValorColuna]}}</td>
              <td>
                <a href="javascript:void(0)" class="in col-1" (click)="Editar(valor)" ngbTooltip="Editar">
                  <i class="fa fa-file-text-o"></i>
                </a>
                <a href="javascript:void(0)" class="in col-1" (click)="Visualizar(valor)" ngbTooltip="Visualizar">
                  <i class="fa fa-eye"></i>
                </a>
                <a href="javascript:void(0)" class="in col-1" (click)="Delete(valor)" ngbTooltip="Deletar">
                  <i class="fa fa-remove"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <ngb-pagination [collectionSize]="pageConfig.totalElements" [(page)]="pageConfig.page" (ngModelChange)="AtualizarLista()"
          [maxSize]="pageConfig.size" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="AtualizarLista($event)"></ngb-pagination>
      </div>
    </div>
  </div>
</div>