<form [formGroup]="formulario" novalidate>
  <div class="row">
    <app-input-label id="item1" legenda="Nome" [valor]="formulario.value?.nome"></app-input-label>
    <app-input-label id="item2" legenda="Curso" [valor]="ObterItemPorId(listaCurso, formulario.value?.curso)['nome']"></app-input-label>
    <app-input-label id="item3" legenda="Data Início" [valor]="ConvertObjectToDate(formulario.value?.dataInicial)"></app-input-label>
    <app-input-label id="item4" legenda="Data Fim" [valor]="ConvertObjectToDate(formulario.value?.dataLimite)"></app-input-label>
    <app-input-label id="item5" legenda="Ativo" valor="{{formulario.value?.flg_ativo == 1? 'Sim' : 'Não'}}"></app-input-label>
  </div>
</form>