<li class="nav-item dropdown" ngbDropdown>
  <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
      <i [class]="isTag[0]"></i> {{isTag[1] | translate}} <b class="caret"></b>
  </a>
  <div class="dropdown-menu-right" ngbDropdownMenu>
    <div *ngFor="let obj of lista">
      <a href="javascript:void(0)" class="dropdown-item" *ngIf="isTask">
        {{ obj[value[0]] | translate }} <span class="badge badge-info">obj[value[1]]</span>
      </a>
      <a class="dropdown-item" href="javascript:void(0)" *ngIf="!isTask" (click)="clickEmitLang(obj[value[1]])">
        {{ obj[value[0]] | translate }}
      </a>
    </div>
  </div>
</li>