<div [@routerTransition]>
  <div class="row">
    <div class="col-6">
      <label><b>Selecione o Instituto:</b></label>
      <select class="form-control form-control-sm" [(ngModel)]="idInstituicao" (ngModelChange)="BuscarCursos()">
        <option *ngFor="let instituicao of listaInstituicao" [value]="instituicao.id">{{instituicao.nome}}</option>
      </select>
    </div>
    <div class="col-6"></div>
    <div class="col-12">
      <br/>
      <app-manter-padrao [exibirGrid]="abrirCurso" [funcaoEspecifica]="funcaoEspecifica" [dataRoute]="idInstituicao"
        [listaNomeCampo]="listaNomeCampo" rotaPadrao="BuscarCursoPorIdInstituicaoPaginavel" legendaTabela="Curso" rota="curso"></app-manter-padrao>
    </div>
  </div>
</div>