<form [formGroup]="formulario" novalidate>
    <div class="form-content">
        <div class="form-group">
            <input type="text" class="form-control input-underline input-lg" formControlName="nome" placeholder="Nome Completo">
            <app-validator [field]="formulario.controls.nome"></app-validator>
        </div>

        <div class="form-group">
            <div class="input-group datepicker-input">
                <input class="form-control input-underline input-lg" formControlName="dataNascimento" placeholder="Data de Nascimento"
                    name="dp" ngbDatepicker #d="ngbDatepicker" [minDate]="{year: dataMinima.getFullYear(), month: dataMinima.getMonth(), day: dataMinima.getDay()}">
                <button class="input-group-addon" (click)="d.toggle()" type="button">
                    <span class="fa fa-calendar"></span>
                </button>
            </div>
            <app-validator [field]="formulario.controls.dataNascimento"></app-validator>
        </div>
        <div class="form-group">
            <label>Sexo</label>
            <select class="form-control select-underline input-lg" formControlName="sexo">
                <option value="F">Feminino</option>
                <option value="M">Masculino</option>
            </select>
            <app-validator [field]="formulario.controls.sexo"></app-validator>
        </div>
        <div class="form-group">
            <label>Instituição</label>
            <select class="form-control select-underline input-lg" formControlName="instituicao">
                <option *ngFor="let instituicao of instituicaoLista" [value]="instituicao.id">{{instituicao.nome}}</option>
            </select>
            <app-validator [field]="formulario.controls.instituicao"></app-validator>
        </div>
        <div class="form-group" *ngIf="rota == 'aluno'">
            <label>Curso</label>
            <select class="form-control select-underline input-lg" formControlName="curso">
                <option *ngFor="let curso of cursoLista" [value]="curso.id">{{curso.nome}}</option>
            </select>
            <app-validator [field]="formulario.controls.curso"></app-validator>
        </div>
        <div class="form-group" *ngIf="rota == 'aluno'">
            <label>Turma</label>
            <select class="form-control select-underline input-lg" formControlName="turma">
                <option *ngFor="let turma of turmaLista" [value]="turma.id">{{turma.nome}}</option>
            </select>
            <app-validator [field]="formulario.controls.turma"></app-validator>
        </div>
        <div class="form-group" *ngIf="rota == 'servidor'">
            <label>Cargo</label>
            <select class="form-control select-underline input-lg" formControlName="cargo">
                <option *ngFor="let cargo of cargoLista" [value]="cargo.id">{{cargo.nome}}</option>
            </select>
            <app-validator [field]="formulario.controls.cargo"></app-validator>
        </div>
        <div class="form-group">
            <input type="text" clearIfNotMatch="true" mask="00000000000000000000" class="form-control input-underline input-lg"
                formControlName="matricula" placeholder="Matrícula">
            <app-validator [field]="formulario.controls.matricula"></app-validator>
            <div class="alert alert-danger" *ngIf="possuiMatricula">
                Matrícula já cadastrada.
            </div>
        </div>
        <div class="form-group">
            <input type="email" class="form-control input-underline input-lg" formControlName="email" placeholder="Email">
            <app-validator [field]="formulario.controls.email"></app-validator>
        </div>
        <div class="form-group">
            <input type="password" class="form-control input-underline input-lg" formControlName="senha" placeholder="Senha">
            <app-validator [field]="formulario.controls.senha"></app-validator>
        </div>
        <div class="form-group">
            <input type="password" class="form-control input-underline input-lg" formControlName="confirmarSenha"
                placeholder="Confirmar Senha">
            <app-validator [field]="formulario.controls.confirmarSenha"></app-validator>
            <div class="alert alert-danger" *ngIf="!senhasIguais && formulario.value.senha !== null && formulario.value.confirmarSenha !== null">
                As senhas não coincidem!
            </div>
        </div>
    </div>
</form>