<div class="container-fluid" [@routerTransition]>
  <fieldset>
    <legend>Posição</legend>
    <app-insercao [formulario]="formulario" [acao]="acao" *ngIf="etapa == 0"></app-insercao>
    <app-visualizacao [formulario]="formulario" [acao]="acao" *ngIf="etapa == 1"></app-visualizacao>
  </fieldset>
  <ngb-alert [type]="alerta?.type" (close)="fecharAlerta(alerta)" *ngFor="let alerta of alertas">{{
    alerta?.message }}</ngb-alert>
  <hr />
  <base-crud-navegacao [UseStyleHome]="value" [usarEtapa]="value" [formulario]="formulario" [(etapa)]="etapa"
    [etapasTotal]="etapasTotal" [acao]="acao" (finalizar)="finalizar()"></base-crud-navegacao>
</div>