<form [formGroup]="formulario" novalidate>
  <fieldset>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-6">
        <div class="form-group">
          <label>Institutos</label>
          <select multiple class="form-control form-control" formControlName="instituicao_cargo">
            <option *ngFor="let instituicao of listaInstituicao" [value]="instituicao.id">{{instituicao.nome}}</option>
          </select>
          <small id="institutoHelp" class="form-text text-muted">Para selecionar mais de um registro é necessário
            segurar o botão Ctrl e selecionar os registros.</small>
          <app-validator [field]="formulario.controls.instituicao_cargo"></app-validator>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-6">
        <div class="form-group">
          <label></label>
          <input type="text" class="form-control " formControlName="nome" placeholder="Nome">
          <app-validator [field]="formulario.controls.nome"></app-validator>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-12">
        <div class="form-group">
          <input type="text" class="form-control " formControlName="descricao" placeholder="Descrição">
          <app-validator [field]="formulario.controls.descricao"></app-validator>
        </div>
      </div>
    </div>
  </fieldset>
</form>